<!DOCTYPE html>
<html lang="ja">
  <%- include('_header') %>
  <body id="scrollable-contents">
    <div class="about banner">
      <div class="tag">
        <div class="category other">その他</div>
        <div class="date">2023/6/24 4:59</div>
      </div>
      <img src="../assets/images/banner.png" alt="">
    </div>
    <div class="detail">
      <p class="main">
        <span class="heading">[Text Main Color] Heading Text, Heading Text, Heading Text, Heading Text, Heading Text, Heading Text</span>
        The following statement is a sample:<br>
        English is a West Germanic language in the Indo-European language family, whose speakers, called Anglophones, originated in early medieval England. The namesake of the language is the Angles, one of the ancient Germanic peoples that migrated to the island of Great Britain. Modern English is both the most spoken language in the world and the third-most spoken native language, after Mandarin Chinese and Spanish. It is also the most widely learned second language in the world, with more second-language speakers than native speakers.
      </p>
      <p class="sub">
        <span class="heading">[Text Sub Color] Heading Text, Heading Text, Heading Text, Heading Text, Heading Text, Heading Text</span>
        The following statement is a sample:<br>
        English is a West Germanic language in the Indo-European language family, whose speakers, called Anglophones, originated in early medieval England. The namesake of the language is the Angles, one of the ancient Germanic peoples that migrated to the island of Great Britain. Modern English is both the most spoken language in the world and the third-most spoken native language, after Mandarin Chinese and Spanish. It is also the most widely learned second language in the world, with more second-language speakers than native speakers.
      </p>
      <p class="positive">
        <span class="heading">[Text Positive Color] Heading Text, Heading Text, Heading Text, Heading Text, Heading Text, Heading Text</span>
        The following statement is a sample:<br>
        English is a West Germanic language in the Indo-European language family, whose speakers, called Anglophones, originated in early medieval England. The namesake of the language is the Angles, one of the ancient Germanic peoples that migrated to the island of Great Britain. Modern English is both the most spoken language in the world and the third-most spoken native language, after Mandarin Chinese and Spanish. It is also the most widely learned second language in the world, with more second-language speakers than native speakers.
      </p>
      <p class="warning">
        <span class="heading">[Text Important Color] Heading Text, Heading Text, Heading Text, Heading Text, Heading Text, Heading Text</span>
        The following statement is a sample:<br>
        English is a West Germanic language in the Indo-European language family, whose speakers, called Anglophones, originated in early medieval England. The namesake of the language is the Angles, one of the ancient Germanic peoples that migrated to the island of Great Britain. Modern English is both the most spoken language in the world and the third-most spoken native language, after Mandarin Chinese and Spanish. It is also the most widely learned second language in the world, with more second-language speakers than native speakers.
      </p>
    </div>
    <%- include('_simplebar_script') %>
  </body>
</html>
