<!DOCTYPE html>
<html lang="ja">
  <%- include('_header') %>
  <body id="scrollable-contents">
    <div class="about banner">
      <div class="tag">
        <div class="category event">イベント</div>
        <div class="date">2023/6/24 4:59</div>
      </div>
      <img src="../assets/images/banner.png" alt="">
    </div>
    <div class="detail">
      <p class="main">
        VQをご利用いただき誠にありがとうございます。<br>
        現在、以下の不具合について調査をしております。
      </p>
      <p class="main">
        <span class="heading">【テキスト　メインカラー】　見出しテキストサイズ　30pt</span>
        通常テキストサイズ　24pt<br>
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
      </p>
      <p class="sub">
        <span class="heading">【テキスト　サブカラー】</span>
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
      </p>
      <p class="positive">
        <span class="heading">【ポジティブ】</span>
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
      </p>
      <p class="warning">
        <span class="heading">【警告・重要】</span>
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
        あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
      </p>
    </div>
    <%- include('_simplebar_script') %>
  </body>
</html>
