<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <%- include('_header') %>
  <body>
    <ul>
      <li><a href="./event_other.html">イベント(その他)</a></li>
      <li><a href="./event_other_long.html">イベント(その他) 長い表示</a></li>
      <li><a href="./event_other_english.html">イベント(その他) 英語</a></li>
      <li><a href="./event_problem.html">イベント(不具合)</a></li>
      <li><a href="./event_event.html">イベント(イベント)</a></li>
      <li><a href="./event_gacha.html">イベント(ガチャ)</a></li>
      <li><a href="./event_campaign.html">イベント(キャンペーン)</a></li>
      <li><a href="./event_important.html">イベント(重要)</a></li>
      <li><a href="./propblem.html">不具合</a></li>
      <li><a href="./propblem_long.html">不具合 長い表示</a></li>
      <li><a href="./propblem_english.html">不具合 英語</a></li>
    </ul>
    <style>
      .scrollbar {
        overflow: scroll;
      }

      ul {
        padding: 4vw;
      }

      li {
        color: white;
        font-size: 2.6vw;
        line-height: 6vw;
      }
    </style>
  </body>
</html>
