<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <!-- TODO サイト名 -->
    <title>web template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- TODO -->
    <!-- <meta name="description" content="[サイト説明]"> -->

    <!-- TODO -->
    <!-- <meta property="og:title" content="[サイト名]" /> -->
    <!-- <meta property="og:description" content="[サイトの説明]" /> -->
    <!-- <meta property="og:url" content="[サイトのURL]" /> -->
    <!-- <meta property="og:image" content="[ogp画像のURL]" /> -->
    <!-- <meta property="og:site_name" content="[サイト名]" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />

    <!-- TODO -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- <meta name="twitter:site" content="[関連づけるTwitterアカウント]" /> -->
    <!-- <meta name="twitter:title" content="[サイト名]" /> -->
    <!-- <meta name="twitter:description" content="[サイトの説明]" /> -->
    <!-- <meta name="twitter:image" content="[ogp画像のURL]" /> -->

    <!-- TODO -->
    <!-- <link rel="icon" href="/favicon.ico"> -->

    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script type="text/typescript" src="./assets/index.ts" defer></script>
  </head>
  <body>
    <div id="scroll_bar_contents" class="container scroll-bar">
      <div class="banner">
        <div class="tag">
          <div class="category">ガチャ</div>
          <div class="date">2023/6/24 4:59</div>
        </div>
        <img src="../assets/img/banner.png" alt="">
      </div>
      <div class="text-container">
        <p class="main">
          VQをご利用いただき誠にありがとうございます。<br>
          現在、以下の不具合について調査をしております。
        </p>
      </div>
      <div class="text-container">
        <p class="main heading">
          【テキスト　メインカラー】　見出しテキストサイズ　30pt　
        </p>
        <p class="main">
          通常テキストサイズ　24pt<br>
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
        </p>
      </div>
      <div class="text-container">
        <p class="sub heading">
          【テキスト　サブカラー】
        </p>
        <p class="sub">
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
      <div class="text-container">
        <p class="positive heading">
          【ポジティブ】
        </p>
        <p class="positive">
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
      <div class="text-container">
        <p class="warning heading">
          【警告・重要】
        </p>
        <p class="warning">
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
      <div class="text-container">
        <p class="warning heading">
          【警告・重要】
        </p>
        <p class="warning">
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
      <div class="text-container">
        <p class="warning heading">
          【警告・重要】
        </p>
        <p class="warning">
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
      <div class="text-container">
        <p class="warning heading">
          【警告・重要】
        </p>
        <p class="warning">
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
    </div>
  </body>
</html>
