<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script type="text/javascript" src="./assets/index.js" defer></script>
  </head>
  <body>
    <div id="scroll-bar-contents" class="container scroll-bar">
      <div class="about problem">
        <div class="tag">
          <div class="category problem"></div>
          <div class="date">2023/6/24 4:59</div>
        </div>
        <p class="text">
          <span>重要なお知らせあいうえおかきくけこさしすせそたちつ横３０文字</span>
        </p>
      </div>
      <div class="text-container">
        <p class="text main">
          VQをご利用いただき誠にありがとうございます。<br>
          現在、以下の不具合について調査をしております。<br>
          <br>
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ３４文字
          あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめ
        </p>
      </div>
    </div>
  </body>
</html>
