@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@500&display=swap");

body {
  font-family: "M PLUS 1", sans-serif;
}

body {
  background: #03294a;
  height: 100vh;
  padding-right: 4vw;

  &.hide-scrollbar {
    padding-right: 0;
  }

  .simplebar-track.simplebar-vertical {
    width: 1.4vw !important;
  }

  .simplebar-scrollbar::before {
    background-color: #09a9c8 !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }

  .about {
    .tag {
      display: flex;

      .category {
        color: white;
        text-align: center;
        font-size: 4vw;
        width: 30%;
        aspect-ratio: 22/4;
        border-radius: 10px 10px 0 0;

        &.other {
          background: #7a7a7a;
        }

        &.problem {
          background: #7a7a7a;
        }

        &.event {
          background: #55d360;
        }

        &.campaign {
          background: #fc7e9c;
        }

        &.gacha {
          background: #ffa619;
        }

        &.important {
          background: #f54646;
        }
      }

      .date {
        background: #464c66;
        color: white;
        text-align: center;
        font-size: 4vw;
        width: 70%;
        aspect-ratio: 86/4;
        border-radius: 10px 10px 0 0;
      }
    }

    &.banner {
      img {
        width: 100%;
      }
    }

    &.problem {
      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e0f7f9;
        color: #055772;
        aspect-ratio: 860 / 235;
        font-size: 2.6vw;
        line-height: 3.9vw;
        padding: 0 2vw;
        white-space: nowrap;
      }
    }
  }

  .detail {
    p {
      margin: 6vw 0;
      padding: 0 2vw;
      font-size: 2.6vw;
      line-height: 4.5vw;

      &.main {
        color: #e0f7f9;
      }

      &.sub {
        color: #09a9c8;
      }

      &.positive {
        color: #54d460;
      }

      &.warning {
        color: #f54646;
      }

      .heading {
        display: block;
        font-size: 2.9vw;
        margin-bottom: 0.4vw;
      }
    }
  }
}
